<html>

<head><title>Bhaskara</title></head>

<body>

<br><br>


  <center><h2> Calculadora da Fórmula de Bhaskara </h2>
<br>

"""Calculando a Fórmula de Bhaskara """

<br>  	
  	<p><form method="/bhaskara/ll" action="ll"> {% csrf_token %} 
    


    <p>Digite o A: <input type="text"/></p>
    
    <p>Digite o B: <input type="text"/></p>
    
    <p>Digite o C: <input type="text"/></p>
    
    <input type="submit" value="Calcular"/></p>
    

    </p></form>
	</center>
    <center>
   
   
   	</center>

</body>

</html>

